<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <header>
            <div class="header">
                <div class="header-wrapper">
                    <h2>
                        <a href="/"><img width="200px" src="https://www.kumoh.ac.kr/_res/ko/img/common/logo@2x.png"></a>
                        산학협력공유플랫폼
                    </h2>
                    <div class="top-menu-wrapper">
                        <ul>
                            <li class="topmenu1">가족회사란?</li>
                            <li class="topmenu2">가족회사 조회</li>
                            <li class="topmenu3">애로기술과제 조회</li>
                            <li class="topmenu4">논문/특허/지식재산권 조회</li>
                            <li class="topmenu5">장비/공간 조회</li>
                            <li class="topmenu6">게시판</li>
                        </ul>
                        <div class="login-icon-wrapper">
                            <a href="/login.do">로그인</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
</html>
