<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="officerNavFragment">
        <div class="menu">
            <label for="expand-menu">메뉴</label>
            <input type="checkbox" id="expand-menu" name="expand-menu">
            <ul>
                <li><a href="/main">기본 정보</a></li>
                <li><a href="/collaborate">산학 협력</a></li>
                <li><a href="/register/accept">가족회사 승인</a></li>
                <li><a href="/project">프로젝트 승인</a></li>
                <li><a href="/share">대여 승인</a></li>
                <li><a href="/save">마일리지/포인트 현황</a></li>
            </ul>
        </div>
    </th:block>
</html>
    

