<div class="search">
    <div class="company-name-search">
        <input type="text" placeholder="회사명">
        <button>검색</button>
    </div>
    <div class="date-search">
        <input type="date"> ~ <input type="date">
        <button>검색</button>
    </div>
    <div class="state-search">
        <select>
            <option>상태</option>
            <option>승인</option>
            <option>거절</option>
            <option>대기</option>
        </select>
    </div>
</div>

<table>
    <thaed>
        <tr>
            <th scope="col" class=""><span>선택</span></th>
            <th scope="col" class=""><span>년도</span></th>
            <th scope="col" class=""><span>등급</span></th>
            <th scope="col" class=""><span>회사</span></th>
            <th scope="col" class=""><span>금액</span></th>
            <th scope="col" class=""><span>사용포인트</span></th>
            <th scope="col" class=""><span>상태</span></th>
            <th scope="col" class=""><span>승인일</span></th>
        </tr>
    </thaed>
    <tbody>
        <tr th:each="dto : ${annualFeeDTOs}">
            <td><input type="checkbox" name="checkedValue" th:value="${dto.annualFeeId}"/></td>
            <td th:text="${dto.year}"></td>
            <td th:text="${dto.grade}"></td>
            <td th:text="${dto.companyName}"></td>
            <td th:text="${dto.cash}"></td>
            <td th:text="${dto.point}"></td>
            <td th:text="${dto.paymentStatus}"></td>
            <td th:text="${dto.confirmDate}"></td>
        </tr>
        </tbody>
</table>

<button onclick="postRequest('/accept')">승인</button>
<button onclick="postRequest('/reject')">거절</button>

<script th:inline="javascript">
    function postRequest(path) {
        let sendData = [];
        var checkedIdLen = document.getElementsByName("checkedValue").length;
        for (var i=0; i<checkedIdLen; i++) {
            if (document.getElementsByName("checkedValue")[i].checked == true) {
                sendData.push(document.getElementsByName("checkedValue")[i].value);
            }
        }

        console.log(sendData);
        $.ajax({
            method: "POST",
            url: "/officer/annual-fee/payment-screening" + path,
            traditional: true,
            contentType: 'application/json',
            data: JSON.stringify({
                "checkList": sendData
            }),
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			}
        })
        .done(function() {
            alert("성공적으로 처리되었습니다.");
            window.close();
        });
    }
</script>