<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script th:inline="javascript">
            function showPopup(accountId) {
                window.open("/officer/family-company/screen/detail/" + accountId, "디테일", "width=800, height=600, left=100, top=50");
            }
        </script>
        
    </head>
    <body>
        <section>
                <div class="task-contents">
                    <div class="search">
                        <div class="company-name-search">
                            <input type="text" placeholder="회사명">
                            <button>검색</button>
                        </div>
                        <div class="date-search">
                            <input type="date"> ~ <input type="date">
                            <button>검색</button>
                        </div>
                        <div class="state-search">
                            <select>
                                <option>상태</option>
                                <option>승인</option>
                                <option>거절</option>
                                <option>대기</option>
                            </select>
                        </div>
                    </div>
                    <form method="post">
                        <div>
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col" class=""><span>선택</span></th>
                                    <th scope="col" class=""><span>구분</span></th>
                                    <th scope="col" class=""><span>업종</span></th>
                                    <th scope="col" class=""><span>회사명</span></th>
                                    <th scope="col" class=""><span>상세보기</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dto : ${companyDtos}">
                                    <td><input type="checkbox" name="checkedValue" value="${dto.accountId}"/></td>
                                    <td th:text="${dto.companyType}"></td>
                                    <td th:text="${dto.sector}"></td>
                                    <td th:text="${dto.name}"></td>
                                    <td>
                                        <button th:onclick="|showPopup('${dto.accountId}')|">더보기</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit">승인</button>
                        <button type="submit">거절</button>
                    </form>
            </div>
        </section>
    </body>
</html>
