<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/portal/head :: template-head('특허 검색')"></div>
  <link rel="stylesheet" href="/assets/css/copyright.css">
</head>

<body>
  <div th:replace="fragments/portal/header :: template-header"></div>

  <main id="main" data-aos="fade-up">
    <!-- ======= detail page main image Section ======= -->
    <section class="detail-image container-fluid">
      <div class="copyright-header-img img-responsive"></div>
    </section>
    <!-- detail page main image Section -->
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>특허검색</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>
      </div>
    </section>
    <!-- Breadcrumbs Section -->
    <section id="copyright-board">
      <div class="d-flex container">
        <div class="col-lg-2 sidebar px-lg-3">
          <div class="sidebar-container shadow">
            <div class="sidebar-header">
              <h4>검색조건</h4>
            </div>
            <div class="sidebar-body">
              <dl>
                <dt>전공</dt>
                <dd>
                  <ul>
                    <li><input type="checkbox" data-type="m1" id="major-electrical"><label
                        for="major-electrical">전자</label></li>
                    <li><input type="checkbox" data-type="m2" id="major-architectural"><label
                        for="major-architectural">건축</label></li>
                    <li><input type="checkbox" data-type="m3" id="major-industrial"><label
                        for="major-industrial">산업</label></li>
                    <li><input type="checkbox" data-type="m4" id="major-chemical"><label for="major-chemical">화학</label>
                    </li>
                    <li><input type="checkbox" data-type="m5" id="major-mechanical"><label
                        for="major-mechanical">기계</label></li>
                    <li><input type="checkbox" data-type="m6" id="major-computer"><label
                        for="major-computer">컴퓨터/IT</label></li>
                    <li><input type="checkbox" data-type="m7" id="major-environmental"><label
                        for="major-environmental">환경</label></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-lg-10 board-container px-lg-3">
          <div class="d-flex justify-content-between board-search-box mb-lg-2">
            <a href="/copyrights/new" class="btn btn-primary">&#43;</a>
            <form action="/copyrights/list" method="get" class="d-flex">
              <div class="me-lg-2">
                <select class="form-select col-lg2" aria-label="Default select example">
                  <option value="1" selected>전체</option>
                  <option value="2">제목+내용</option>
                  <option value="3">제목</option>
                  <option value="4">내용</option>
                  <option value="5">작성자</option>
                </select>
              </div>
              <div class="me-lg-1">
                <input type="search" class="form-control rounded col-lg5" name="key" placeholder="Search"
                  aria-label="Search" th:value="${key}" aria-describedby="search-addon" />
              </div>
              <div>
                <button type="submit" class="btn btn-secondary col-lg2">검색</button>
              </div>
            </form>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="2">구분</th>
                <th colspan="2">전공</th>
                <th colspan="5">제목</th>
                <th colspan="2">발명자</th>
                <th colspan="1">등록일</th>
                <th colspan="1">상태</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dto : ${copyrightDtos}" class="modalToggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <input type="hidden" th:value="${dto.copyrightId}">
                <td colspan="2" th:text="${T(com.domain.common.CopyrightType).valueOf(dto.copyrightType).getName()}">
                </td>
                <td colspan="2" th:text="'-'"></td>
                <td colspan="5" th:text="${dto.copyrightName}"></td>
                <td colspan="2" th:text="${dto.representor}"></td>
                <td colspan="1" th:text="${dto.declarationYear}"></td>
                <td colspan="1" th:text="${dto.maintenanceState}"></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <nav>
              <ul class="pagination">
                <li th:if="${page} > 1" class="page-item">
                  <a class="page-link" th:href="@{/copyrights/list(page=${page+(-1)}, key=${key})}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li th:if="${page} == 1" class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <th:block th:with="ten=${(page+(-1))/10*10}">
                  <th:block th:each="num : ${#numbers.sequence(ten+1, ten+10)}">
                    <li th:if="${num} <= ${maxPage} and ${num} == ${page}" class="page-item active" aria-current="page">
                      <a class="page-link" th:href="@{/copyrights/list(page=${num}, key=${key})}" th:text="${num}"><span
                          class="sr-only">(current)</span></a>
                    </li>
                    <li th:if="${num} <= ${maxPage} and ${num} != ${page}" class="page-item"><a class="page-link"
                        th:href="@{/copyrights/list(page=${num}, key=${key})}" th:text="${num}"></a></li>
                  </th:block>
                </th:block>

                <li th:if="${page} < ${maxPage}" class="page-item">
                  <a class="page-link" th:href="@{/copyrights/list(page=${page+1}, key=${key})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li th:if="${page} >= ${maxPage}" class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" th:remove="body">
        <th:block th:fragment="info-contents">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" th:text="${copyrightDto.copyrightName}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th colspan="3">구분</th>
                <td colspan="7" th:text="${T(com.domain.common.CopyrightType).valueOf(copyrightDto.copyrightType).getName()}"></td>
                <th colspan="3">상태</th>
                <td colspan="7" th:text="${copyrightDto.maintenanceState}"></td>
              </tr>
              <tr>
                <th colspan="3">공개년도</th>
                <td colspan="7" th:text="${copyrightDto.declarationYear}"></td>
                <th colspan="3">공동</th>
                <td colspan="7" th:text="${copyrightDto.cooperation}"></td>
              </tr>
              <tr>
                <th colspan="3">대표자</th>
                <td colspan="7" th:text="${copyrightDto.representor}"></td>
                <th colspan="3">교수</th>
                <td colspan="7" th:text="${copyrightDto.professorName}"></td>
              </tr>
              <tr>
                <th colspan="3">출원일자</th>
                <td colspan="7" th:text="${copyrightDto.applicationDate}"></td>
                <th colspan="3">출원번호</th>
                <td colspan="7">
                  <a th:href="@{http://kpat.kipris.or.kr/kpat/resulta.do?expression=AN=[{appNum}](appNum=${copyrightDto.applicationNumber})}"
                     th:text="${copyrightDto.applicationNumber}"></a></td>
              </tr>
              <tr>
                <th colspan="3">등록일자</th>
                <td colspan="7" th:text="${copyrightDto.registrationDate}"></td>
                <th colspan="3">등록번호</th>
                <td colspan="7">
                  <a th:href="@{http://kpat.kipris.or.kr/kpat/resulta.do?expression=GN=[{appNum}](appNum=${copyrightDto.registrationNumber})}"
                     th:text="${copyrightDto.registrationNumber}"></a></td>
              </tr>
              <tr>
                <th colspan="3">설명</th>
                <td colspan="17" th:text="${copyrightDto.description}"></td>
              </tr>
              <tr>
                <th colspan="3">키워드</th>
                <td colspan="17" th:text="${copyrightDto.keyword}"></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </th:block>
      </div>
    </div>
  </div>

  <div th:replace="fragments/portal/footer :: template-footer"></div>
  <div th:replace="fragments/portal/js :: template-js"></div>
  <script src="/assets/js/copyright.js"></script>
</body>

</html>