<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="/copyrights/new" class="btn btn-outline-primary my-2">특허 정보 등록</a>
            <form action="/copyrights/list" method="get" class="form-inline justify-content-end my-2">
                <input type="search" class="form-control mr-sm-2" name="key" aria-label="Search" th:value="${key}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class=""><span>특허구분</span></th>
                        <th scope="col" class=""><span>특허명</span></th>
                        <th scope="col" class=""><span>발명자</span></th>
                        <th scope="col" class=""><span>상태</span></th>
                        <th scope="col" class=""><span>일자</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto : ${copyrightDtos}" th:onclick="'location.href=\''+ @{/copyrights/list/{id}(id=${dto.copyrightId})} + '\''">
                        <td th:text="${dto.copyrightType}"></td>
                        <td th:text="${dto.copyrightName}"></td>
                        <td th:text="${dto.representor}"></td>
                        <td th:text="${dto.copyrightState}"></td>
                        <td th:text="${dto.declarationYear}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:if="${page} > 1" class="page-item">
                    <a class="page-link" th:href="@{/copyrights/list(page=${page+(-1)}, key=${key})}" tabindex="-1"
                        aria-disabled="true">Prev</a>
                </li>
                <li th:if="${page} == 1" class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                <th:block th:with="ten=${(page+(-1))/10*10}">
                    <th:block th:each="num : ${#numbers.sequence(ten+1, ten+10)}">
                        <li th:if="${num} <= ${maxPage} and ${num} == ${page}" class="page-item active" aria-current="page"><a class="page-link"
                                th:href="@{/copyrights/list(page=${num}, key=${key})}" th:text="${num}"><span class="sr-only">(current)</span></a></li>
                        <li th:if="${num} <= ${maxPage} and ${num} != ${page}" class="page-item"><a class="page-link"
                                th:href="@{/copyrights/list(page=${num}, key=${key})}" th:text="${num}"></a></li>
                    </th:block>
                </th:block>

                <li th:if="${page} < ${maxPage}" class="page-item">
                    <a class="page-link" th:href="@{/copyrights/list(page=${page+1}, key=${key})}">Next</a>
                </li>
                <li th:if="${page} >= ${maxPage}" class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>