<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <div class="task-contents">
                <th:block th:replace="fragments/mypage/common-info-inquire :: commonInfoInquireFragment"></th:block>
                <div class="member-info">
                    <label>대학</label>
                    <div>[[${account.university}]]</div>
                </div>
                <div class="member-info">
                    <label>사무실</label>
                    <div>[[${account.officeLocation}]]</div>
                </div>
            </div>
        </section>
    </body>
</html>
