<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <form th:action="@{/officer/mypage/update}" th:object="${account}" method="post">
                <div class="task-contents">
                    <form id="updateInfoForm" method="post">
                        <th:block th:replace="fragments/mypage/common-info-update :: commonInfoUpdateFragment"></th:block>
                        <div class="member-info">
                            <label>대학</label>
                            <input type="text" class="update-info" name="member_university" placeholder="" th:field="*{university}">
                        </div>
                        <div class="member-info">
                            <label>소속 사무실</label>
                            <input type="text" class="update-info" name="member_department" placeholder="" th:field="*{officeLocation}">
                        </div>
                    <input type="submit" name value="수정" title="수정">
                </div>
            </form>
        </section>
    </body>
</html>
