.modal-dialog {
    max-width: 700px;
}

.modal-body table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.75rem;
}

.modal-body th {
    border-right: 1px solid #dee2e6;
}

.modal-body td {
    padding: 0 0.75rem;
    word-wrap: break-word
}