<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/portal/head :: template-head('산학 프로젝트 조회')"></div>
    <style>
        .tab-content {
            flex-grow: 1;
            border: 2px solid #aaaaaa;
            padding: 1.5rem;
        }

        #v-pills-info table {
            border-collapse: separate;
            border-spacing: 0 1rem;
        }

        th {
            font-size: 2rem;
        }

        .file-list {
            margin: 1rem;
            border: 1px solid #c9c9c9;
            min-height: 8rem;
        }

        .file-list a {
            border: none;
        }

        div.MultiFile-label, .file-item {
            border-left: 2px solid #a0a0a0;
            margin: 0.5rem;
            padding: 0.5rem;
        }

        .bi-x-lg::before {
            color: black;
            cursor: pointer;
        }

        .file-list + div {
            margin: 0 1rem;
        }

        input[name='midFiles[]'], input[name='finalFiles[]'], input[name='midRemoveFiles[]'], input[name='finalRemoveFiles[]'] {
            display: none;
        }
    </style>
</head>

<body>
<div th:replace="fragments/portal/header :: template-header"></div>

<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Collaboration Details</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li>Portfolio Details</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="collabo-project" class="collabo-details">
        <div class="container">
            <div class="row gy-4">
                <div class="form-container">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="true">프로젝트 정보</button>
                            <button class="nav-link" id="v-pills-mid-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mid" type="button" role="tab" aria-controls="v-pills-mid" aria-selected="false">중간 결과물 관리</button>
                            <button class="nav-link" id="v-pills-final-tab" data-bs-toggle="pill" data-bs-target="#v-pills-final" type="button" role="tab" aria-controls="v-pills-final" aria-selected="false">최종 결과물 관리</button>
                            <button class="nav-link" id="v-pills-sales-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sales" type="button" role="tab" aria-controls="v-pills-sales" aria-selected="false">매출 관리</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                                <div class="d-flex">
                                    <table class="flex-fill">
                                        <thead>
                                        <tr>
                                            <th colspan="2">[[${projectDto.title}]]</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>기업</td>
                                            <td>[[${projectDto.companyName}]]</td>
                                        </tr>
                                        <tr>
                                            <td>참여 교수</td>
                                            <td>
                                                <ul>
                                                    <li th:each="professor : ${projectDto.projectProfessorDTOList}">
                                                        [[${professor.professorName}]]
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>프로젝트 기간</td>
                                            <td>[[${T(com.web.util.DateUtil).dotStyle(projectDto.startDate)}]] ~ [[${T(com.web.util.DateUtil).dotStyle(projectDto.endDate)}]]</td>
                                        </tr>
                                        <tr>
                                            <td>인건비</td>
                                            <td>[[${projectDto.budgetDetail.humanCostRate}]] 만원</td>
                                        </tr>
                                        <tr>
                                            <td>연구활동비</td>
                                            <td>[[${projectDto.budgetDetail.researchActivityRate}]] 만원</td>
                                        </tr>
                                        <tr>
                                            <td>간접비</td>
                                            <td>[[${projectDto.budgetDetail.indirectCostRate}]] 만원</td>
                                        </tr>
                                        <tr>
                                            <td>총 예산액</td>
                                            <td>[[${projectDto.budgetDetail.total}]] 만원</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                매칭 정보 ---<br>
                                상담 리스트 ---<br>
                            </div>
                            <div class="tab-pane fade" id="v-pills-mid" role="tabpanel" aria-labelledby="v-pills-mid-tab">
                                <div>
                                    <form th:action="@{/projects/list/{id}/mid-output(id=${projectDto.projectId})}" method="post" enctype="multipart/form-data">
                                        <div id="upload-file-list-mid" class="file-list">
                                            <div class="file-item" th:each="fileDto : ${projectDto.outputDTOS.get(0).proofFileDTOList}">
                                                <label>
                                                    <i class="bi bi-x-lg"></i>
                                                    <input type="checkbox" class="form-check-input" name="midRemoveFiles[]" th:value="${fileDto.proofFileId}">
                                                </label>
                                                <span>[[${#strings.substring(fileDto.fileName, 37)}]]</span>
                                                <a th:href="@{/projects/list/download/{id}(id=${fileDto.getProofFileId()})}">
                                                    <i class="bi bi-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" id="fileUploadLbl-mid" class="btn btn-outline-secondary me-lg-2">파일 추가</button>
                                            <input type="file" name="midFiles[]">
                                            <input type="submit" class="btn btn-outline-secondary" value="저장">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-final" role="tabpanel" aria-labelledby="v-pills-final-tab">
                                <div>
                                    <form th:action="@{/projects/list/{id}/final-output(id=${projectDto.projectId})}" method="post" enctype="multipart/form-data">
                                        <div id="upload-file-list-final" class="file-list">
                                            <div class="file-item" th:each="fileDto : ${projectDto.outputDTOS.get(1).proofFileDTOList}">
                                                <label>
                                                    <i class="bi bi-x-lg"></i>
                                                    <input type="checkbox" class="form-check-input" name="finalRemoveFiles[]" th:value="${fileDto.proofFileId}">
                                                </label>
                                                <span>[[${#strings.substring(fileDto.fileName, 37)}]]</span>
                                                <a th:href="${fileDto.filePath}">
                                                    <i class="bi bi-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" id="fileUploadLbl-final" class="btn btn-outline-secondary me-lg-2">파일 추가</button>
                                            <input type="file" name="finalFiles[]">
                                            <input type="submit" class="btn btn-outline-secondary" value="저장">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-sales" role="tabpanel" aria-labelledby="v-pills-sales-tab"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<div th:replace="fragments/portal/footer :: template-footer"></div>
<div th:replace="fragments/portal/js :: template-js"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery-multifile@2.2.2/jquery.MultiFile.min.js" type="text/javascript"></script>
<script>
    $(function() {
        $('input[name=\'midFiles[]\']').MultiFile({
            max: 50,
            maxfile: 1024,
            list: '#upload-file-list-mid',
            STRING: {
                remove: '<i class="bi bi-x-lg"></i>',
                duplicate: '\'$file\'은(는) 중복된 파일입니다.'
            }
        });

        $('input[name=\'finalFiles[]\']').MultiFile({
            max: 50,
            maxfile: 1024,
            list: '#upload-file-list-final',
            STRING: {
                remove: '<i class="bi bi-x-lg"></i>',
                duplicate: '\'$file\'은(는) 중복된 파일입니다.'
            }
        });

        $('#fileUploadLbl-mid').on('click', function () {
            $('input[name=\'midFiles[]\']').each(function (idx, item) {
                if (!$(item).attr('style'))
                    $(item).click();
            });
        });

        $('#fileUploadLbl-final').on('click', function () {
            $('input[name=\'finalFiles[]\']').each(function (idx, item) {
                if (!$(item).attr('style'))
                    $(item).click();
            });
        });

        $('input[name=\'midRemoveFiles[]\']').on('change', function () {
            $(this).parent().parent().hide();
        });

        $('input[name=\'finalRemoveFiles[]\']').on('change', function () {
            $(this).parent().parent().hide();
        });
    });
</script>
</body>

</html>