<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="fragments/portal/head :: template-head('등록된 애로기술')"></div>
</head>

<body>
  <div th:replace="fragments/portal/header :: template-header"></div>

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Collaboration Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="collabo-project" class="collabo-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-2 sidebar">
            <div class="sidebar-container shadow">
              <div class="sidebar-header">
                <h4>검색조건</h4>
              </div>
              <div class="sidebar-body">
                <input type="hidden" name="page" th:value="${page}">
                <dl>
                  <dt>프로젝트 기간</dt>
                  <dd>
                    <ul>
                      <li>
                        <input type="radio" name="term" value="all" id="term-all" checked>
                        <label for="term-all">모두</label>
                      </li>
                      <li>
                        <input type="radio" name="term" value="long" id="term-long">
                        <label for="term-long">장기</label>
                      </li>
                      <li>
                        <input type="radio" name="term" value="short" id="term-short">
                        <label for="term-short">단기</label>
                      </li>
                    </ul>
                  </dd>
                </dl>
                <dl sec:authorize="hasRole('ROLE_OFFICER')">
                  <dt>매칭 유형</dt>
                  <dd>
                    <ul>
                      <li>
                        <input type="radio" name="type" value="open" id="type-open" checked>
                        <label for="type-open">공개</label>
                      </li>
                      <li>
                        <input type="radio" name="type" value="close" id="type-close">
                        <label for="type-close">비공개</label>
                      </li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>기타 옵션</dt>
                  <dd>
                    <ul>
                      <li>
                        <input type="checkbox" name="options" value="fusion" id="options-fusion">
                        <label for="options-fusion">융합</label>
                      </li>
                      <li>
                        <input type="checkbox" name="options" value="capstone" id="options-capstone">
                        <label for="options-capstone">캡스톤디자인</label>
                      </li>
                    </ul>
                  </dd>
                </dl>
                <dl>
                  <dt>분야</dt>
                  <dd>
                    <ul>
                      <li th:each="category : ${categories}" th:class="|depth-${category.level}|">
                        <input type="checkbox" name="fieldCategory" th:value="${category.fieldCategoryId}"
                          th:id="|category-${category.fieldCategoryId}|">
                        <label th:for="|category-${category.fieldCategoryId}|"
                          th:text="${category.categoryName}"></label>
                      </li>
                    </ul>
                  </dd>
                </dl>
                <button type="button" id="filterBtn" class="btn btn-outline-primary">검색</button>
              </div>
            </div>
          </div>
          <div class="col-lg-10 body">
            <div class="container" data-aos="fade-up">
              <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="count-box shadow">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1.5"
                          class="purecounter"></span>
                        <p>장기프로젝트</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                      <div class="count-box shadow">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1.5"
                          class="purecounter"></span>
                        <p>단기프로젝트</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                      <div class="count-box shadow">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1.5"
                          class="purecounter"></span>
                        <p>융합프로젝트</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                      <div class="count-box shadow">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1.5"
                          class="purecounter"></span>
                        <p>캡스톤디자인</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div><!-- End of counter -->
            <div class="project-list-container" th:remove="body">
              <th:block th:fragment="info-contents">
                <ul class="project-list-ul">
                  <li class="project-list-li" th:each="dto : ${collaboRequestDtos}">
                    <div class="project-title">
                      <div>
                        <span th:if="${dto.termType.equals('long')}" class="project-type-tag">장기</span>
                        <span th:if="${dto.termType.equals('short')}" class="project-type-tag">단기</span>
                        <span th:if="${dto.isCapstone.equals('true')}" class="project-type-tag">캡스톤디자인</span>

                        <h4 th:text="${dto.title}"></h4>
                        <span class="regist-date"
                          th:text="${T(com.web.util.DateUtil).dotStyle(dto.createdDate)}"></span>
                      </div>
                      <div>
                        <span th:if="${T(com.web.util.DateUtil).passedDay(dto.createdDate) <= 5}" class="tag">New</span>

                        <th:block th:if="${dto.requestType.equals('OPEN')}">
                          <th:block th:if="${T(com.web.util.DateUtil).calcDday(dto.expireDate)} > 0">
                            <span class="tag">모집중</span>
                            <span class="tag">D-[[${T(com.web.util.DateUtil).calcDday(dto.expireDate)}]]</span>
                          </th:block>
                          <th:block th:if="${T(com.web.util.DateUtil).calcDday(dto.expireDate)} == 0">
                            <span class="tag">마감임박</span>
                            <span class="tag">D-day</span>
                          </th:block>
                          <th:block th:if="${T(com.web.util.DateUtil).calcDday(dto.expireDate)} < 0">
                            <span class="tag">모집마감</span>
                          </th:block>
                        </th:block>
                      </div>
                    </div>
                    <div class="project-summary">
                      <p><span>프로젝트규모:</span><b>[[${T(com.web.util.NumberUtil).commaFormat(dto.budget)}]]만원</b></p>
                      <p><span>수행기간:</span><b>[[${dto.term}]]일</b></p>
                      <p><span
                          th:text="${dto.requestType.equals('OPEN')} ? '현 지원자수:' : '협력 희망 교수:'"></span><b>[[${dto.collaboRequestProfessorList.size()}]]명</b>
                      </p>
                    </div>
                    <div class="request-company">
                      <div class="col-lg-8 p-break">
                        <p>
                          <b>요청내용</b><br>
                          [[${dto.description}]]
                        </p>
                      </div>
                      <div class="col-lg-4">
                        <dl>
                          <dd><b>기업명:</b> [[${dto.companyName}]]</dd>
                          <dd><b>분야:</b>
                            <th:block th:each="tech : ${dto.collaboRequestTechniqueList}">
                              <span class="comma-separated">[[${tech.fieldCategoryName}]]</span>
                            </th:block>
                          </dd>
                          <dd>
                            <button type="button" id="modal-btn"
                              th:onclick="getProfessorList([[${dto.collaboRequestId}]]);"
                              sec:authorize="hasRole('ROLE_OFFICER')" class="btn btn-primary"
                              data-bs-toggle="modal" data-bs-target="#exampleModal">
                              &#43;
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:onclick="join([[${dto.collaboRequestId}]]);"
                                    sec:authorize="hasRole('ROLE_PROFESSOR')">
                              참여 지원하기
                            </button>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </li>
                </ul>
                <nav>
                  <ul class="pagination justify-content-center">
                    <li th:if="${page} > 1" class="page-item">
                      <button class="page-link" aria-label="Previous" th:onclick="movePage([[${page+(-1)}]]);">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </button>
                    </li>
                    <li th:if="${page} == 1" class="page-item disabled">
                      <button class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </button>
                    </li>

                    <th:block th:with="ten=${(page+(-1))/10*10}">
                      <th:block th:each="num : ${#numbers.sequence(ten+1, ten+10)}">
                        <li th:if="${num} <= ${maxPage} and ${num} == ${page}" class="page-item active"
                          aria-current="page">
                          <button class="page-link" th:text="${num}" th:onclick="movePage([[${num}]]);"><span
                              class="sr-only">(current)</span></button>
                        </li>
                        <li th:if="${num} <= ${maxPage} and ${num} != ${page}" class="page-item">
                          <button class="page-link" th:text="${num}" th:onclick="movePage([[${num}]]);"></button>
                        </li>
                      </th:block>
                    </th:block>

                    <li th:if="${page} < ${maxPage}" class="page-item">
                      <button class="page-link" aria-label="Next" th:onclick="movePage([[${page+1}]]);">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </button>
                    </li>
                    <li th:if="${page} >= ${maxPage}" class="page-item disabled">
                      <button class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </th:block>
            </div><!-- project list contanier -->
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" id="requestId">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">지원 교수 목록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul id="professor-list"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="openRequestBtn" onclick="openRequest();">공개 모집으로 전환</button>
          <button type="button" class="btn btn-primary" id="createProject">프로젝트 생성</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/portal/footer :: template-footer"></div>
  <div th:replace="fragments/portal/js :: template-js"></div>
  <script th:inline="javascript">
    let csrfHeader = [[${ _csrf.headerName }]];
    let csrfToken = [[${ _csrf.token }]];
  </script>
  <script src="/assets/js/collabo.js"></script>
</body>

</html>