<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/portal/head :: template-head('애로기술 요청')"></div>
</head>

<body>
    <div th:replace="fragments/portal/header :: template-header"></div>

    <main id="main" data-aos="fade-up">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Collaboration Details</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li>Portfolio Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- Breadcrumbs Section -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="collabo-project" class="collabo-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="form-container">
                        <form th:action="@{/requests/list}" th:object="${requestDto}" method="post">
                            <input type="hidden" name="status" value="PENDING">
                            <input type="hidden" name="officerId" value="5">
                            <table>
                                <tr>
                                    <th colspan="2"><label for="companyId">요청 기업</label></th>
                                    <td colspan="5">
                                        <input type="hidden" th:field="*{companyId}" id="companyId">
                                        <input type="text" id="companyName" readonly>
                                        <button type="button" id="companyIdSearch"
                                            onclick="window.open('/accounts/search?dtypes=C&idTag=companyId&nameTag=companyName', '_blank', 'width=500,height=400');">
                                            검색
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="title">애로기술명</label></th>
                                    <td colspan="5">
                                        <input type="text" th:field="*{title}" id="title" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="description">애로사항</label></th>
                                    <td colspan="5">
                                        <textarea th:field="*{description}" id="description" cols="30"
                                            rows="5"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="tech-depth-1">기술 분야</label></th>
                                    <td colspan="5">
                                        <select id="tech-depth-1" class="tech-select" required>
                                            <option disabled selected></option>
                                        </select>
                                        <select id="tech-depth-2" class="tech-select">
                                            <option disabled selected></option>
                                        </select>
                                        <select id="tech-depth-3" class="tech-select">
                                            <option disabled selected></option>
                                        </select>
                                        <select id="tech-depth-4" class="tech-select">
                                            <option disabled selected></option>
                                        </select>
                                        <button type="button" onclick="addTechniqueInput()">추가</button>
                                        <div id="tech-wrapper"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="term">프로젝트 기간</label></th>
                                    <td colspan="5">
                                        <input type="text" th:field="*{term}" id="term" class="text-right" pattern="\d+"
                                            required> 일
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="budget">예상비용</label></th>
                                    <td colspan="5">
                                        <input type="text" th:field="*{budget}" id="budget" class="text-right"
                                            pattern="\d+" required> 만원
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label>매칭 유형</label></th>
                                    <td colspan="5">
                                        <input type="radio" id="OPEN" th:field="*{requestType}" value="OPEN"
                                            class="openclose">
                                        <label for="OPEN">공개 모집</label><br>
                                        <input type="radio" id="CLOSE" th:field="*{requestType}" value="CLOSE"
                                            class="openclose">
                                        <label for="CLOSE">비공개 우선(교수 지정)</label><br>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label>캡스톤 디자인 연계</label></th>
                                    <td colspan="5">
                                        <input type="radio" id="isCapstone-true" th:field="*{isCapstone}" value="true">
                                        <label for="isCapstone-true">O</label>
                                        <input type="radio" id="isCapstone-false" th:field="*{isCapstone}"
                                            value="false">
                                        <label for="isCapstone-false">X</label><br>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><label for="expireDate">공개 모집 기간</label></th>
                                    <td colspan="5">
                                        <input type="date" th:field="*{expireDate}" id="expireDate" required> 까지
                                    </td>
                                </tr>
                                <tr class="close-show">
                                    <th colspan="2"><label for="professorId0">희망 교수</label></th>
                                    <td colspan="5">
                                        <div>
                                            <input type="hidden" class="professorId"
                                                name="collaboRequestProfessorList[0].professorId" id="professorId0">
                                            <input type="text" id="professorName0" readonly>
                                            <button type="button" id="professorIdSearch"
                                                onclick="window.open('/accounts/search?dtypes=P&idTag=professorId0&nameTag=professorName0', '_blank', 'width=500,height=400');">
                                                검색
                                            </button>
                                        </div>
                                        <button type="button" onclick="addProfessorInput()" id="addProfessorBtn">교수
                                            추가
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <a href="/requests/list" class="btn btn-outline-secondary">목록으로</a>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div th:replace="fragments/portal/js :: template-js"></div>
    <script src="/assets/js/request-form.js"></script>
</body>

</html>