<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <ul class="nav nav-tabs my-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/requests/list?type=all">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/requests/list?type=open">공개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/requests/list?type=close">비공개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/requests/list?type=my">나의 애로기술</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/requests/list?type=capstone">캡스톤</a>
                </li>
            </ul>
            <form action="/requests/list" method="get" class="form-inline justify-content-end my-2">
                <input type="hidden" name="type" th:value="${type}">
                <input type="search" class="form-control mr-sm-2" name="key" aria-label="Search" th:value="${key}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
            <a href="/requests/new" class="btn btn-outline-primary my-2">애로기술 등록</a>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class=""><span>기업명</span></th>
                        <th scope="col" class=""><span>애로기술명</span></th>
                        <th scope="col" class=""><span>매칭 유형</span></th>
                        <th scope="col" class=""><span>공개 모집 마감일</span></th>
                        <th scope="col" class=""><span>캡스톤 디자인 연계</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto : ${collaboRequestDtos}"
                        th:onclick="'location.href=\''+ @{/requests/list/{id}(id=${dto.collaboRequestId})} + '\''">
                        <td th:text="${dto.companyName}"></td>
                        <td th:text="${dto.title}"></td>
                        <td th:if="${dto.requestType.equals('OPEN')}">공개</td>
                        <td th:if="${dto.requestType.equals('CLOSE')}">비공개</td>
                        <td th:text="${dto.expireDate}"></td>
                        <td th:if="${dto.isCapstone.equals('true')}">O</td>
                        <td th:if="${dto.isCapstone.equals('false')}">X</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:if="${page} > 1" class="page-item">
                    <a class="page-link" th:href="@{/requests/list(page=${page+(-1)}, key=${key}, type=${type})}" tabindex="-1"
                        aria-disabled="true">Prev</a>
                </li>
                <li th:if="${page} == 1" class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                <th:block th:with="ten=${(page+(-1))/10*10}">
                    <th:block th:each="num : ${#numbers.sequence(ten+1, ten+10)}">
                        <li th:if="${num} <= ${maxPage} and ${num} == ${page}" class="page-item active"
                            aria-current="page"><a class="page-link"
                                th:href="@{/requests/list(page=${num}, key=${key}, type=${type})}" th:text="${num}"><span
                                    class="sr-only">(current)</span></a></li>
                        <li th:if="${num} <= ${maxPage} and ${num} != ${page}" class="page-item"><a class="page-link"
                                th:href="@{/requests/list(page=${num}, key=${key}, type=${type})}" th:text="${num}"></a></li>
                    </th:block>
                </th:block>

                <li th:if="${page} < ${maxPage}" class="page-item">
                    <a class="page-link" th:href="@{/requests/list(page=${page+1}, key=${key}, type=${type})}">Next</a>
                </li>
                <li th:if="${page} >= ${maxPage}" class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>