<div class="row" id="mypage">
    <div class="col-sm-1"><a value="/officer/mypage" onclick="selectSubMenu(this)">내 정보</a></div>
    <div class="col-sm-1"><a value="/officer/mypage/update" onclick="selectSubMenu(this)">정보 수정</a></div>
</div>

<div class="row" id="industry-cooperation">
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">참여 내역 조회</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">프로젝트 생성</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">지식재산권 등록</a></div>
</div>

<div class="row" id="family-company">
    <div class="col-sm-1"><a value="/officer/family-company" onclick="selectSubMenu(this)">가입 검토</a></div>
    <div class="col-sm-1"><a value="/officer/annual-fee/payment-screening" onclick="selectSubMenu(this)">연회비 검토</a></div>
</div>

<div class="row" id="project">
    <div class="col-sm-1"><a value="/officer/mileage/screening" onclick="selectSubMenu(this)">활동 검토</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">매출 검토</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">최종 결과물 검토</a></div>
</div>

<div class="row" id="share">
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">장비 등록</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">공간 등록</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">대여 검토</a></div>
</div>

<div class="row" id="mileage-point">
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">적립 내역</a></div>
</div>