<ul id="mypage">
    <li><a value="officer/mypage" onclick="selectSubMenu(this)">내 정보</a></li>
    <li><a value="officer/mypage/update" onclick="selectSubMenu(this)">정보 수정</a></li>
</ul>

<ul id="industry-cooperation">
    <li id="">참여 내역 조회</li>
    <li id="">프로젝트 생성</li>
    <li id="">지식재산권 등록</li>
</ul>

<ul id="family-company">
    <li><a value="officer/family-company" onclick="selectSubMenu(this)">가입 검토</a></li>
    <li><a value="officer/annual-fee/payment-screening" onclick="selectSubMenu(this)">연회비 납부 검토</a></li>
    <li id="">현행화 검토</li>
</ul>

<ul id="project">
    <li><a value="officer/project" onclick="selectSubMenu(this)">활동 검토</a></li>
    <li id="">매출 검토</li>
    <li id="">최종결과물 검토</li>
</ul>

<ul id="share">
    <li id="">장비 등록</li>
    <li id="">공간 등록</li>
    <li id="">대여 검토</li>
</ul>

<ul id="mileage-point">
    <li id="">적립 내역</li>
</ul>