<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <div class="task-contents">
                <th:block th:replace="mypage/fragments/common-info-inquire :: commonInfoInquireFragment"></th:block>
            </div>
        </section>
    </body>
</html>
