<ul id="mypage">
    <li><a value="company/mypage" onclick="selectSubMenu(this)">내 정보</a></li>
    <li><a value="company/mypage/update" onclick="selectSubMenu(this)">정보 수정</a></li>
    <li><a value="" onclick="selectSubMenu(this)">현행화</a></li>
</ul>

<ul id="industry-cooperation">
    <li id="">애로기술 조회</li>
    <li id="">지식재산권 조회</li>
    <li id="">참여내역 조회</li>
</ul>

<ul id="share-accpet">
    <li id="">장비 대여</li>
    <li id="">공간 대여</li>
    <li id="">대여 내역</li>
</ul>

<ul id="mileage-point">
    <li id="">적립 내역</li>
</ul>

<ul id="payment">
    <li id="">연회비 납부</li>
</ul>