<div class="row" id="mypage">
    <div class="col-sm-1"><a value="/professor/mypage" onclick="selectSubMenu(this)">내 정보</a></div>
    <div class="col-sm-1"><a value="/professor/mypage/update" onclick="selectSubMenu(this)">정보 수정</a></div>
</div>

<div class="row" id="industry-cooperation">
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">애로기술 조회</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">참여내역 조회</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">프로젝트 지원</a></div>
</div>

<div class="row" id="share">
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">장비 대여</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">공간 대여</a></div>
    <div class="col-sm-1"><a value="" onclick="selectSubMenu(this)">대여 내역</a></div>
</div>