<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="mypage-table">
            <div class="container">
                <div class="row gy-4">
                    <div class="form-container">
                        <form th:action="@{/professor/mypage/update}" th:object="${account}" method="post">
                        <table id="update-info" class="table">
                            <th:block th:replace="fragments/mypage/common-info-update :: commonInfoUpdateFragment"></th:block>
                            <tr>
                                <th>대학</th>
                                <td><input type="text" class="update-info" name="member_university" placeholder="" th:field="*{university}"></td>
                            <tr>
                                <th>학과</th>
                                <td><input type="text" class="update-info" name="member_department" placeholder="" th:field="*{department}"></td>
                            </tr>
                            <tr>
                                <th>사무실</th>
                                <td><input type="text" class="update-info" name="member_officeLocation" placeholder="" th:field="*{officeLocation}"></td>
                            </tr>
                        </table>         
                        <input type="submit" name value="수정" title="수정">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
