<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/portal/head :: template-head('특허 검색')"></div>
    <link rel="stylesheet" href="/assets/css/board.css">
</head>

<body>
<div th:replace="fragments/portal/header :: template-header"></div>

<main id="main" data-aos="fade-up">
    <!-- ======= detail page main image Section ======= -->
    <section class="detail-image container-fluid">
        <div class="copyright-header-img img-responsive"></div>
    </section>
    <!-- detail page main image Section -->
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>게시글 목록</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li>Portfolio Details</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Breadcrumbs Section -->
    <section id="notice-board">
        <div class="d-flex container">
            <div class="board-container px-lg-3">
                <div class="d-flex justify-content-between board-search-box mb-lg-2">
                    <a sec:authorize="hasRole('ROLE_OFFICER')" href="/boards/new" class="btn btn-primary">&#43;</a>
                    <div></div>
                    <form action="/boards/list" method="get" class="d-flex">
                        <div class="me-lg-2">
                            <select class="form-select col-lg2" aria-label="Default select example">
                                <option value="1" selected>전체</option>
                                <option value="2">제목+내용</option>
                                <option value="3">제목</option>
                                <option value="4">내용</option>
                                <option value="5">작성자</option>
                            </select>
                        </div>
                        <div class="me-lg-1">
                            <input type="search" class="form-control rounded col-lg5" name="key" placeholder="Search"
                                   aria-label="Search" th:value="${key}" aria-describedby="search-addon"/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-secondary col-lg2">검색</button>
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="5">제목</th>
                        <th colspan="2">작성자</th>
                        <th colspan="2">등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto : ${boardDtos}"
                        th:onclick="'location.href=\''+ @{/boards/list/{id}(id=${dto.noticeBoardId})} + '\''">
                        <td colspan="5" th:text="${dto.noticeBoardTitle}"></td>
                        <td colspan="2" th:text="${dto.accountName}"></td>
                        <td colspan="2" th:text="${T(com.web.util.DateUtil).dotStyleWithoutTime(dto.noticeBoardDate)}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <div th:replace="fragments/portal/pagination :: template-pagination('/boards/list', ${boardDtos}, ${key})"></div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<div th:replace="fragments/portal/footer :: template-footer"></div>
<div th:replace="fragments/portal/js :: template-js"></div>
</body>

</html>