<script language="javascript">
    function showPopup() {
        window.open("company/industry-cooperation/project/activity-proof-register", "활동 증빙 등록", "width=400, height=300, left=100, top=50");
    }
</script>

<div class="search">
    <div class="date-search">
        <input id="start-day" type="date"> ~ <input id="end-day" type="date">
        <button onclick="getRequest()">검색</button>
    </div>
    <div class="state-search">
        <select id="state" onchange="selectGetRequest(this.value);">
            <option value="ALL">전체</option>
            <option value="APPROVED">승인</option>
            <option value="REJECTED">거절</option>
            <option value="PENDING">대기</option>
        </select>
    </div>
</div>

<table>
    <thaed>
        <tr>
            <th scope="col" class=""><span>선택</span></th>
            <th scope="col" class=""><span>회사</span></th>
            <th scope="col" class=""><span>활동구분</span></th>
            <th scope="col" class=""><span>활동</span></th>
            <th scope="col" class=""><span>회차</span></th>
            <th scope="col" class=""><span>상태</span></th>
            <th scope="col" class=""><span>시작일</span></th>
            <th scope="col" class=""><span>종료일</span></th>
        </tr>
    </thaed>
    <tbody>
        <tr th:each="dto : ${mileageRequestDTO}">
            <td><input type="checkbox" name="checkedValue" value="${dto.mileageRequestId}"/></td>
            <td th:text="${dto.company.name}"></td>
            <td th:text="${dto.mileagePolicy.collaborationCategory.parentCategory.collaborationName}"></td>
            <td th:text="${dto.mileagePolicy.collaborationCategory.collaborationName}"></td>
            <td th:text="${dto.achivementCnt}"></td>
            <td th:text="${dto.status}"></td>
            <td th:text="${dto.startDate}"></td>
            <td th:text="${dto.endDate}"></td>
        </tr>
        </tbody>
</table>

<button onclick="showPopup()">등록</button>

<script th:inline="javascript">
    function selectGetRequest(param) {
        var startDay = document.getElementById("start-day").value;
        var endDay = document.getElementById("end-day").value;
        $.ajax({
            method: "GET",
            url: "/officer/annual-fee/payment-screening",
            contentType: 'application/json',
            data: {
                "startDay": startDay,
                "endDay": endDay,
                "state": param
            },
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			},
            success: function() {
                console.log(startDay);
                console.log(endDay);
                console.log(param);
            }
        });
    }
    
    function getRequest() {
        var startDay = document.getElementById("start-day").value;
        var endDay = document.getElementById("end-day").value;
        var stateElement = document.getElementById("state");
        var state = stateElement.options[stateElement.selectedIndex].value;

        $.ajax({
            method: "GET",
            url: "/officer/annual-fee/payment-screening",
            contentType: 'application/json',
            data: {
                "startDay": startDay,
                "endDay": endDay,
                "state": state
            },
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			},
            success: function() {
                console.log(startDay);
                console.log(endDay);
                console.log(state);
            }
        });
    }
</script>