<link href="/css/annual-fee/payment.css" rel="stylesheet" type="text/css">
<script src="/js/annual-fee/payment.js"></script>

<div class="current-info">
    ooo 기업은 현재 [[${accountDTO.grade}]] 등급입니다.
</div>
<div class="main-calculate-wrapper">
    <div class="select-grade-wrapper">
        <select id="annual-fee-for-grade" onchange="changePrice()">
            <option th:each="gradePolicy: ${gradePolicyDTOs}" th:value="${gradePolicy.price}" th:utext="${gradePolicy.grade}"></option>
        </select>
    </div>
    <div class="cash-calculate-wrapper">
        <div class="original-price">
            <p>[[${annualFee}]]</p>원
        </div>
        <div class="using-point-area">
            <input id="use-point" type="text"/>
            <button onclick="discount()">사용</button>
            <button onclick="allUseDiscount()">모두 사용</button>
            보유: <p id="my-point">[[${accountDTO.point}]]</p>포인트
        </div>
        <div class="sale-price">
            <p id="sale-price">[[${annualFee}]]</p>원
        </div>
    </div>
</div>
<div class="btn-wrapper">
    <button>이체</button>
</div>