<link href="/css/annual-fee/payment.css" rel="stylesheet" type="text/css">
<script src="/js/annual-fee/payment.js"></script>

<div class="container">
    <div class="row gy-4">
        <div class="main-task">
            <div class="current-info">
                <span id="company-name">[[${accountDTO.name}]]</span>은 현재 <span id="company-grade">[[${accountDTO.grade}]]</span> 등급입니다.
            </div>
            <div class="main-calculate-wrapper">
                <div class="select-grade-wrapper">
                    <select id="annual-fee-for-grade" onchange="changePrice()">
                        <option>선택</option>
                        <option th:each="gradePolicy: ${gradePolicyDTOs}" th:id="${gradePolicy.gradePolicyId}" th:value="${gradePolicy.price}" th:utext="${gradePolicy.grade}" 
                        th:selected="${gradePolicy.grade == accountDTO.grade}"></option>
                    </select>
                </div>
                <div class="cash-calculate-wrapper">
                    <div class="original-price">
                        <p th:each="gradePolicy: ${gradePolicyDTOs}" th:if="${gradePolicy.grade == accountDTO.grade}" th:utext="${gradePolicy.price}" id="original-price"></p>원
                    </div>
                    <div class="using-point-area">
                        <input id="use-point" type="text"/>
                        <button onclick="discount()">사용</button>
                        <button onclick="allUseDiscount()">모두 사용</button>
                        보유: <p id="my-point">[[${accountDTO.point}]]</p>포인트
                    </div>
                    <div class="sale-price">
                        <p th:each="gradePolicy: ${gradePolicyDTOs}" th:if="${gradePolicy.grade == accountDTO.grade}" th:utext="${gradePolicy.price}" id="sale-price"></p>원
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <button onclick="postRequest()">이체</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script th:inline="javascript">
    function postRequest() {
        console.log("=======");
        var point = document.getElementById("use-point");
        var cash = document.getElementById("sale-price");
        var gradelement = document.getElementById("annual-fee-for-grade");
        var grade = gradelement.options[gradelement.selectedIndex];
  
        var sendData = {
            "gradePolicyId": grade.getAttribute("id"),
            "point": point.value,
            "cash": cash.textContent
        };
        console.log(JSON.stringify(sendData));

        $.ajax({
            method: "POST",
            url: "/company/annual-fee/payment-application",
            data: sendData,
            beforeSend: function (xhr) {
                /*<![CDATA[*/
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
                /*]]*/
			}
        })
        .done(function() {
            alert("계좌번호: 농협 123412-12-1234123\n자정까지 입급 바랍니다.");
        });
    };
</script>