<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script>
            function fnModuleInfo(str) {
                $('MoaModal .modal-content').load("company-modal?id="+str);
                $('#MoaModal').modal();
            }
        </script>
    </head>
    <body>
        <section>
            <th:block th:replace="fragments/common/officer-nav :: officerNavFragment"></th:block>
            <div class="contents">
                <div class="user-info">
                    <h1 class="user-name">직원 ○○○</h1>
                    <h4 class="user-point">마일리지 500 | 1000p</h4>
                    <button class="logout">로그아웃</button>
                </div>
                <div class="sub-menu-wrapper">
                    <ul>
                        <li><a href="/register/accept">가입 승인</a></li>
                        <li><a href="#">현행화 승인</a></li>
                    </ul>
                </div>
                <div class="task-contents">
                    <form method="post">
                        <div>
                            <table>
                                <thead>
                                <tr>
                                    <th scope="col" class=""><span>선택</span></th>
                                    <th scope="col" class=""><span>구분</span></th>
                                    <th scope="col" class=""><span>업종</span></th>
                                    <th scope="col" class=""><span>회사명</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dto : ${companyDtos}">
                                    <td><input type="checkbox" name="checkedValue" value="${dto.businessRegistrationNumber}"/></td>
                                    <td th:text="${dto.companyType}"></td>
                                    <td th:text="${dto.sector}"></td>
                                    <td><a th:href="#" th:onclick="fnModuleInfo('${dto.businessRegistrationNumber}')" th:text="${dto.name}"></a></td>
                                </tr>
                                <!-- Moa Modal-->
                                <div class="modal fade" id="MoaModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                    </div>
                                    </div>
                                </div>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit">승인</button>
                    </form>
            </div>
        </section>
    </body>
</html>
