<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <section>
            <th:block th:replace="common/officer-nav :: officerNavFragment"></th:block>
            <div class="contents">
                <div class="user-info">
                    <h1 class="user-name">직원 ○○○</h1>
                    <h4 class="user-point">마일리지 500 | 1000p</h4>
                    <button class="logout">로그아웃</button>
                </div>
                <div class="sub-menu-wrapper">
                    <ul>
                        <li><a href="/register/accept">가입 승인</a></li>
                        <li><a href="/current/accept">현행화 승인</a></li>
                    </ul>
                </div>
                <div class="task-contents">
                    asdfasdfsdafdsafd
                </div>
            </div>
        </section>
    </body>
</html>
