<!-- histoty Modal-->
<div class="modal-header">
    <h5 class="modal-title" id="historyModalLabel">회사 정보</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    회사명: [[${company.name}]]
    대표자: [[${company.owner}]]
    사업자 등록번호: [[${company.businessRegistrationNumber}]]
    이메일: [[${company.email}]]
    전화번호: [[${company.telephone}]]
    주소: [[${company.zipCode}]] [[${company.city}]] [[${company.street}]]
    사원 수: [[${company.employeeNumber}]]
    </tr>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
</div>