<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="common/head :: headFragment"></th:block>
        <link href="/css/signup-company.css" rel="stylesheet" type="text/css">
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
                function sample6_execDaumPostcode() {
                    new daum.Postcode({
                        oncomplete: function(data) {
                            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            
                            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                            var addr = ''; // 주소 변수
                            var extraAddr = ''; // 참고항목 변수
                            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                addr = data.roadAddress;
                            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                addr = data.jibunAddress;
                            }
                            console.log(addr);
                            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                            if(data.userSelectedType === 'R'){
                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                    extraAddr += data.bname;
                                }
                                // 건물명이 있고, 공동주택일 경우 추가한다.
                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                if(extraAddr !== ''){
                                    extraAddr = ' (' + extraAddr + ')';
                                }
                                // 조합된 참고항목을 해당 필드에 넣는다.
                                document.getElementById("sample6_extraAddress").value = extraAddr;
                            
                            } else {
                                document.getElementById("sample6_extraAddress").value = '';
                            }
                            console.log(extraAddr);
                            console.log(data.zonecode);
                            // 우편번호와 주소 정보를 해당 필드에 넣는다.
                            document.getElementById('sample6_postcode').value = data.zonecode;
                            document.getElementById("sample6_address").value = addr;
                            // 커서를 상세주소 필드로 이동한다.
                            document.getElementById("sample6_extraAddress").focus();
                        }
                    }).open();
                }
            </script>
    </head>
    <body>
        <th:block th:replace="common/header :: headerFragment"></th:block>
        <section>
            <div class="signup-area">
                <div class="signup-title-area">
                    <img width="90px" height="90px" src="https://www.kumoh.ac.kr/_common/img/icon/icon_symbol01.png">
                    <div class="signup-text-area">
                        <h2 id="signup-company-title">회원가입</h2>
                        <h4>COMPANY</h4>
                    </div>
                </div>
                <form id="signupCompanyForm" th:action="@{/register/company}" th:object="${companyRegisterVO}" method="post">
                    <div class="form-signup-company-wrapper">
                        <div class="form-signup-area">
                            <div class="label-wrapper">
                                <label for="id" class="id">아이디</label>
                            </div>
                            <input type="text" class="signup-info" id="member_id" name="member_id" th:field="*{loginId}"
                            placeholder="아이디" title="로그인 할 아이디를 입력하세요."
                            style="text-transform: uppercase;">
                        </div>
                        <div class="form-signup-area">
                            <label for="password" class="password">비밀번호</label>
                            <input type="password" class="signup-info" id="member_pw" name="member_pw" th:field="*{password}"
                            placeholder="비밀번호" title="로그인 할 비밀번호를 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="name" class="name">회사명</label>
                            <input type="text" class="signup-info" id="member_name" name="member_name" th:field="*{name}"
                            placeholder="회사명" title="회사 이름을 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="birthday" class="birthday">설립일</label>
                            <input type="date" class="signup-info" id="member_birthday" name="member_birthday" th:field="*{birthDate}"
                            placeholder="설립일" title="설립일을 입력하세요.">
                        </div>
                        <div class="search-address">
                            <div class="form-signup-area">
                                <label for="address" class="address">주소</label>
                                <input type="text" class="signup-info" id="sample6_postcode" name="member_zipcode" th:field="*{zipCode}"
                                placeholder="우편번호" title="본사 주소를 입력하세요.">
                                <input id="search-btn" type="button" onclick="sample6_execDaumPostcode()" value="검색">
                            </div>
                           
                        </div>
                        <div class="form-signup-area">
                            <label for="address" class="address"></label>
                            <input type="text" class="signup-info" id="sample6_address" name="member_city" th:field="*{city}"
                            placeholder="도로명" title="본사 주소를 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="address" class="address"></label>
                            <input type="text" class="signup-info" id="sample6_extraAddress" name="member_street" th:field="*{street}"
                            placeholder="세부주소" title="본사 주소를 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="telephone" class="email">이메일</label>
                            <input type="text" class="signup-info" id="member_email" name="member_email" th:field="*{email}"
                            placeholder="이메일" title="이메일 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="telephone" class="telephone">전화번호</label>
                            <input type="text" class="signup-info" id="member_telephone" name="member_telephone" th:field="*{telephone}"
                            placeholder="전화번호" title="전화번호를 입력하세요.">
                        </div>
<!--                        <input type="hidden" name="status" value="C" th:field="*{status}">-->

                        <div class="form-signup-area">
                            <label for="employeeNumber" class="employeeNumber">사업자 등록번호</label>
                            <input type="text" class="signup-info" id="member_employeeNumber" name="member_employeeNumber" th:field="*{employeeNumber}"
                            placeholder="사업자 등록번호" title="사업자 등록번호를 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="companyType" class="companyType">회사구분</label>
                            <input type="text" class="signup-info" id="member_companyType" name="member_companyType" th:field="*{companyType}"
                            placeholder="회사구분" title="회사구분을 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="sector" class="sector">업종</label>
                            <input type="text" class="signup-info" id="member_sector" name="member_sector" th:field="*{sector}"
                            placeholder="업종" title="업종을 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="owner" class="owner">대표자</label>
                            <input type="text" class="signup-info" id="member_owner" name="member_owner" th:field="*{owner}"
                            placeholder="대표자" title="대표자 이름를 입력하세요.">
                        </div>
                        <div class="form-signup-area">
                            <label for="subscriptionDate" class="subscriptionDate">협약일</label>
                            <input type="date" class="signup-info" id="member_subscriptionDate" name="member_subscriptionDate" th:field="*{subscriptionDate}"
                            placeholder="협약일" title="협약일을 입력하세요.">
                        </div>
                        <input type="submit" name value="회원가입" title="회원가입">
                    </div>
                </form>
            </div>
        </section>
        <th:block th:replace="common/footer :: footerFragment"></th:block>
    </body>
</html>
