<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/head :: headFragment"></th:block>
        <link href="/css/signup.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <th:block th:replace="fragments/common/header :: headerFragment"></th:block>
        <section>
            <div class="signup-area">
                <div class="signup-title-area">
                    <img width="90px" height="90px" src="https://www.kumoh.ac.kr/_common/img/icon/icon_symbol01.png">
                    <div class="signup-text-area">
                        <h2>회원가입</h2>
                        <h4>가입할 회원을 선택하세요.</h4>
                    </div>
                </div>
                <ul class="signup-section-area">
                    <li><a id="signup-company" href="/register/company">기업 회원</a></li>
                    <li><a id="signup-person" href="person.html">교수/학생/직원 회원</a></li>
                </ul>
            </div>
        </section>
        <th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
    </body>
</html>
