<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <th:block th:fragment="headerFragment">
        <header>
            <div class="header">
                <div class="header-wrapper">
                    <h2>
                        <a href="/"><img width="200px" src="https://www.kumoh.ac.kr/_res/ko/img/common/logo@2x.png"></a>
                        산학협력공유플랫폼
                    </h2>
                    <div class="top-menu-wrapper">
                        <ul>
                            <li class="topmenu1">가족회사란?</li>
                            <li class="topmenu2">가족회사 조회</li>
                            <li class="topmenu3">애로기술과제 조회</li>
                            <li class="topmenu4">논문/특허/지식재산권 조회</li>
                            <li class="topmenu5">장비/공간 조회</li>
                            <li class="topmenu6">게시판</li>
                        </ul>
                        <div sec:authorize="isAnonymous()" class="login-icon-wrapper">
                            <a th:href="@{/login}">로그인</a>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="login-icon-wrapper">
                            <a th:href="@{/logout}">로그아웃</a>
                        </div>
                        <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="login-icon-wrapper">
                            <a th:href="@{/admin}">어드민</a>
                        </div>
                        <div sec:authorize="hasAuthority('ROLE_COMPANY')" class="login-icon-wrapper">
                            <a th:href="@{/company}">메인화면</a>
                        </div>
                        <div sec:authorize="hasAuthority('ROLE_PROFESSOR')" class="login-icon-wrapper">
                            <a th:href="@{/professor}">메인화면</a>
                        </div>
                        <div sec:authorize="hasAuthority('ROLE_OFFICER')" class="login-icon-wrapper">
                            <a th:href="@{/officer}">메인화면</a>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    </th:block>
</html>
