.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}

.menu label::before{ content: '\e5d2'; }

#expand-menu { /* 체크박스 폼 요소 감춤 */
    display: none;
}
#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
    display: block;
    height: auto;
}

.menu {
    display: block;
    width: 200px;
    height: 961px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
 
.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
}
.menu div {
    line-height: 1.5;
    font-size: 1em;
    padding: 0 0 0 50px; /* 아이콘과 텍스트 사이 여백 */
}

.user-info {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
}

.logout {
    margin-top: 1rem;
    height: 2rem;
}

section {
    display: flex;
    flex-direction: row;
}

.sub-menu-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    /* background-color: magenta; */
}


.sub-menu-wrapper>ul>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 3rem;
}

.sub-menu-wrapper>li {
    list-style: none;
    text-align: center;
}
