/* business format */
#mypage, #industry-cooperation, #family-company, 
#project, #share, #mileage-point, #annual-fee{
    /* background-color: #8ea5eb; */
    background-color: #7588e6;
    padding: 1.5rem;
    color: white;
}
#mypage .col-sm-1 , #industry-cooperation .col-sm-1,
#family-company .col-sm-1, #project .col-sm-1,
#share .col-sm-1, #mileage-point .col-sm-1,
#annual-fee .col-sm-1 {
    text-align: center;
    margin-left: 1rem;
    white-space: pre;
}