<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/portal/head :: template-head('계정 검색')"></div>
    <style>
        .container {
            padding: 2rem 4rem;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            padding: 0.375rem 0;
        }

        li:hover, li:focus {
            background-color: #e2e2e2;
        }

        #account-info-list-wrapper {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="d-flex mb-3">
            <div class="me-2">
                <select class="form-select col-lg2" id="dtype-select">
                    <option th:if="${#lists.contains(dtypes, 'S')}" value="S">학생</option>
                    <option th:if="${#lists.contains(dtypes, 'P')}" value="P">교수</option>
                    <option th:if="${#lists.contains(dtypes, 'C')}" value="C">기업</option>
                </select>
            </div>
            <div class="me-1 flex-grow-1">
                <input id="search-key" class="form-control rounded col-lg5" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <button id="search-btn" class="btn btn-secondary col-lg2" type="button">검색</button>
            </div>
        </div>
        <div id="account-info-list-wrapper">
            <ul th:fragment="account-search-result">
                <li class="account-info d-flex justify-content-between" th:each="dto : ${accountDtos}">
                    <input type="hidden" class="accountId" th:value="${dto.accountId}">
                    <div th:if="${dto.dtype.equals('S')}">[학생]</div>
                    <div th:if="${dto.dtype.equals('P')}">[교수]</div>
                    <div th:if="${dto.dtype.equals('C')}">[기업]</div>
                    <div class="accountName" th:text="${dto.name}"></div>
                    <div th:text="${dto.department}"></div>
                </li>
            </ul>
        </div>
    </div>

    <div th:replace="fragments/portal/js :: template-js"></div>
    <script th:inline="javascript">
        $(function () {
            $('#search-btn').click(() => {
                $.ajax({
                    method: "GET",
                    url: "/accounts/search-result",
                    data: {
                        key: $('#search-key').val(),
                        dtype: $('#dtype-select').val()
                    }
                })
                    .done(function (fragment) {
                        $('#account-info-list-wrapper').empty().append(fragment);
                        $('.account-info').click(function () {
                            if (window.opener != null && !window.opener.closed) {
                                let idInput = $(this).find(".accountId").val();
                                let nameInput = $(this).find(".accountName").text();
                                $("#" + [[${idTag}]], opener.document).val(idInput);
                                $("#" + [[${nameTag}]], opener.document).val(nameInput);
                            }
                            window.close();
                        });
                    });
            });
        });
    </script>
</body>

</html>