<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <div class="task-contents">
                <th:block th:replace="fragments/mypage/common-info-inquire :: commonInfoInquireFragment"></th:block>
                <div class="member-info">
                    <label>대표</label>
                    <div>[[${account.owner}]]</div>
                </div>
                <div class="member-info">
                    <label>구분</label>
                    <div>[[${account.companyType}]]</div>
                </div>
                <div class="member-info">
                    <label>업종</label>
                    <div>[[${account.sector}]]</div>
                </div>
                <div class="member-info">
                    <label>사원 수</label>
                    <div>[[${account.employeeNumber}]]</div>
                </div>
                <div class="member-info">
                    <label>사업자번호</label>
                    <div>[[${account.businessRegistrationNumber}]]</div>
                </div>
                <div class="member-info">
                    <label>협약일</label>
                    <div>[[${account.subscriptionDate}]]</div>
                </div>
            </div>
        </section>
    </body>
</html>
