<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="fragments/common/section-head :: sectionHeadFragment"></th:block>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/mypage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section>
            <form th:action="@{/company/mypage}" th:object="${account}" method="post">
                <div class="task-contents">
                        <th:block th:replace="fragments/mypage/common-info-update :: commonInfoUpdateFragment"></th:block>
                        <th:block th:replace="fragments/mypage/company-info-update :: companyInfoUpdateFragment"></th:block>
                    <input type="submit" name value="수정" title="수정">
                </div>
            </form>
        </section>
    </body>
</html>
