<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <th:block th:fragment="commonInfoInquireFragment">
        <tr>
            <th>이름</th>
            <td>[[${account.name}]]</td>
        </tr>
        <tr>
            <th>생일</th>
            <td>[[${account.birthDate}]]</td>
        </tr>
        <tr>
            <th>주소</th>
            <td>[[${account.zipCode}]] [[${account.city}]] [[${account.street}]]</td>
        </tr>
        <tr>
            <th>아이디</th>
            <td>[[${account.loginId}]]</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>[[${account.email}]]</td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>[[${account.telephone}]]</td>
        </tr>
    </th:block>
</html>