<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <th:block th:fragment="professorInfoInquireFragment">
        <div class="member-info">
            <label>대학</label>
            <div>[[${account.university}]]</div>
        </div>
        <div class="member-info">
            <label>학과</label>
            <div>[[${account.department}]]</div>
        </div>
        <div class="member-info">
            <label>사무실</label>
            <div>[[${account.officeLocation}]]</div>
        </div>
    </th:block>
</html>