<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www/thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="fragments/common/head :: headFragment"></th:block>
    <body>
        <th:block th:replace="fragments/common/header :: headerFragment"></th:block>
        <section>
            <div class="cropping">
                <img src="https://iacf.kumoh.ac.kr/_res/iacf/img/main/img_main_visual01_pc.jpg">   
            </div>
        </section>
        <th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
    </body>
</html>
