<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>금오공과대학교 산학협력공유플랫폼</title>
        <link href="../static/css/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header-wrapper">
                    <h2>
                        <img width="200px" src="https://www.kumoh.ac.kr/_res/ko/img/common/logo@2x.png">
                        산학협력공유플랫폼
                    </h2>
                    <div class="top-menu-wrapper">
                        <ul>
                            <li class="topmenu1">가족회사란?</li>
                            <li class="topmenu2">가족회사 조회</li>
                            <li class="topmenu3">애로기술과제 조회</li>
                            <li class="topmenu4">논문/특허/지식재산권 조회</li>
                            <li class="topmenu5">장비/공간 조회</li>
                            <li class="topmenu6">게시판</li>
                        </ul>
                        <div class="login-icon-wrapper">
                            <a href="login.html">로그인</a>
                        </div>
                    </div>
                </div>
            </div>    
        </header>
        <section>
            <div class="cropping">
                <img src="https://iacf.kumoh.ac.kr/_res/iacf/img/main/img_main_visual01_pc.jpg">   
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                <p></p>
                <address>
                    (39177) 경북 구미시 대학로61 산학협력관 
                </address>
                <a href="https://www.kumoh.ac.kr/ko/sub07_04_01.do" class="word-privacy" target="_blank">
                    개인정보 처리방침
                </a>
                <p>
                    전화 : 054-478-6710 / 팩스 : 054-478-6719 / 사업자등록번호 : 513-82-07067
                </p>
                <p class="copyright">
                    Copyright (C) Kumoh National Institute of Technology Industry-academic Cooperation Foundation. All Rights Reserved.
                </p>
            </div>
        </footer>
    </body>
</html>
