<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/portal/head :: template-head('금오공과대학교 가족회사플랫폼')"></div>
</head>

<body>
  <div th:replace="fragments/portal/header :: template-header"></div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>기대함</span></h1>
      <h2>
        <span>기</span>업과 <span>대</span>학이 <span>함</span>께 성장합니다
      </h2>
      <h2>Please be part of our family to change our society</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
            class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="2"
              class="purecounter"></span>
            <p>가족회사</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="2"
              class="purecounter"></span>
            <p>애로기술해결</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="2"
              class="purecounter"></span>
            <p>보유장비</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="1300" data-purecounter-duration="2"
              class="purecounter"></span>
            <p>기술이전</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <main id="main">
    <!-- ======= boards section1 ======= -->
    <div class="container boards">
      <div class="d-flex align-items-stretch justify-content-center board-container">
        <div class="d-flex board-item col-lg-6 col-md-12">
          <div class="wrapper justify-content-end">
            <div class="d-flex align-items-stretch buttonWrapper">
              <button class="tab-button active flex-fill" data-id="notice-family">
                가족회사소식
              </button>

              <button class="tab-button flex-fill" data-id="notice-collabo">
                애로기술요청
              </button>

              <button class="tab-button flex-fill" data-id="notice-project">
                과제공고
              </button>
              <button class="tab-button flex-fill" data-id="notice-incruit">
                채용정보
              </button>
            </div>
            <div class="contentWrapper">
              <div class="content active" id="notice-family">
                <div class="board-item">
                  <div class="d-flex align-items-stretch justify-content-between table-header-div">
                    <div class="icon">
                      <i class="bx bxs-buildings">가족회사</i>
                    </div>
                    <div>
                      <h5><a href="">+</a></h5>
                    </div>
                  </div>

                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="content" id="notice-collabo">
                <div class="board-item">
                  <div class="d-flex align-items-stretch justify-content-between table-header-div">
                    <div class="icon">
                      <i class="bx bxs-phone">애로기술요청</i>
                    </div>
                    <div>
                      <h5><a href="/requests/list">+</a></h5>
                    </div>
                  </div>

                  <table class="table table-hover">
                    <tbody>
                      <tr th:each="dto : ${collaboRequestDtos}">
                        <td colspan="7" th:text="${dto.title}"></td>
                        <td colspan="1" th:if="${dto.collaboRequestTechniqueList.size() > 0}"
                          th:text="${dto.collaboRequestTechniqueList[0].fieldCategoryName}"></td>
                        <td colspan="1" th:if="${dto.collaboRequestTechniqueList.size() == 0}">-</td>
                        <td colspan="2" th:text="${dto.expireDate}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="content" id="notice-project">
                <div class="board-item">
                  <div class="d-flex align-items-stretch justify-content-between table-header-div">
                    <div class="icon">
                      <i class="bx bx-calendar-event">과제공고</i>
                    </div>
                    <div>
                      <h5><a href="">+</a></h5>
                    </div>
                  </div>

                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="content" id="notice-incruit">
                <div class="board-item">
                  <div class="d-flex align-items-stretch justify-content-between table-header-div">
                    <div class="icon">
                      <i class="bx bx-calendar-event">채용정보</i>
                    </div>
                    <div>
                      <h5><a href="">+</a></h5>
                    </div>
                  </div>

                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                      <tr>
                        <td colspan="7">
                          Lorem, ipsum dolor sit amet consectetur adipisicing
                          elit. Dolorem, illum!
                        </td>
                        <td colspan="1">new</td>
                        <td colspan="2">2022-01-19</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ======= end of boards ======= -->
        <!-- ======= start of info carousel ======= -->
        <div class="board-item col-lg-6 col-md-12">
          <!-- ======= Testimonials Section ======= -->
          <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">
              <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/assets/img/main_banner01.png" class="testimonial-img" alt="" />
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/img/main_banner02.png" class="testimonial-img" alt="" />
                  </div>
                </div>
                <!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </section>
        </div>
        </section>
        <!-- End Testimonials Section -->
      </div>
    </div>
    </div>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="section-title">
        <h2>협력관계</h2>
      </div>
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/assets/img/kyungwoon-logo.png" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/assets/img/gumi-logo.png" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/assets/img/andong-logo.png" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/assets/img/education-logo.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>운영센터</h2>
        </div>

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4 class="title">
                    <a href="">중소기업<br />산학협력센터</a>
                  </h4>
                  <p class="description">
                    중소기업 경쟁력강화와<br />지역경제활성화
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-buildings"></i></div>
                  <h4 class="title">
                    <a href="">중소기업<br />공학컨설팅센터</a>
                  </h4>
                  <p class="description">
                    대학과 지역 산업체간의 경쟁력 강화<br />지역경제 활성화
                    기여
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-shape-square"></i></div>
                  <h4 class="title">
                    <a href="">구미산업<br />기술정보센터</a>
                  </h4>
                  <p class="description">
                    중소기업의 미래경쟁력을 키우는<br />구미산업기술정보센터
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-cube-alt"></i></div>
                  <h4 class="title">
                    <a href="">ICT융합<br />특성화연구센터</a>
                  </h4>
                  <p class="description">
                    ICT융합 산업을 선도하는 <br />창의융합인재양성
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-tree"></i></div>
                  <h4 class="title">
                    <a href="">그린에너지<br />산업화지원센터</a>
                  </h4>
                  <p class="description">
                    지구를 사랑하고<br />자연을 생각합니다.
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-analyse"></i></div>
                  <h4 class="title">
                    <a href="">환경분석센터</a>
                  </h4>
                  <p class="description">환경이 <br />우리의 미래입니다</p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-buoy"></i></div>
                  <h4 class="title">
                    <a href="">창의지식<br />재산센터</a>
                  </h4>
                  <p class="description">
                    창의력 있는 우수 <br />발명인재를 발굴합니다.
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-sitemap"></i></div>
                  <h4 class="title">
                    <a href="">강소특구<br />육성사업단</a>
                  </h4>
                  <p class="description">
                    기술사업화 전주기 지원을 통한 <br />지역사회와 동반성장
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-printer"></i></div>
                  <h4 class="title">
                    <a href="">3D프린팅<br />융합기술센터</a>
                  </h4>
                  <p class="description">
                    3D프린팅 기술<br />
                    확산 보급의 조력자
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-factory"></i></div>
                  <h4 class="title">
                    <a href="">BK21스마트제조MERIT<br />융합사업단</a>
                  </h4>
                  <p class="description">
                    스마트 제조 혁신을 위한 <br />융합 혁신 인재 양성단
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-hand-up"></i></div>
                  <h4 class="title">
                    <a href="">BK21에너지<br />융합사업단</a>
                  </h4>
                  <p class="description">
                    에너지융합기술 <br />혁신인재 양성사업단
                  </p>
                </div>
              </div>
              <div class="col-md-5 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box item" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bx bxs-plane-alt"></i></div>
                  <h4 class="title">
                    <a href="">BK21국방항공<br />융합사업단</a>
                  </h4>
                  <p class="description">
                    국방/항공 소재/부품/장비 <br />지역인재 양성사업단
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Featured Services Section -->
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>
              이메일을 남겨주시면 다양한 소식을 전해드립니다
            </p>
            <form action="" method="post">
              <input type="email" name="email" /><input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>BizLand<span>.</span></h3>
            <p>
              A108 Adam Street <br />
              New York, NY 535022<br />
              United States <br /><br />
              <strong>Phone:</strong> +1 5589 55488 55<br />
              <strong>Email:</strong> info@example.com<br />
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Web Development</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Product Management</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Graphic Design</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>
              Cras fermentum odio eu feugiat lide par naso tierra videa magna
              derita valies
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/tab.js"></script>
</body>

</html>