<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>금오공과대학교 산학협력공유플랫폼</title>
        <link href="/css/login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header-wrapper">
                    <h2>
                        <img width="200px" src="https://www.kumoh.ac.kr/_res/ko/img/common/logo@2x.png">
                        산학협력공유플랫폼
                    </h2>
                    <div class="top-menu-wrapper">
                        <ul>
                            <li class="topmenu1">가족회사란?</li>
                            <li class="topmenu2">가족회사 조회</li>
                            <li class="topmenu3">애로기술과제 조회</li>
                            <li class="topmenu4">논문/특허/지식재산권 조회</li>
                            <li class="topmenu5">장비/공간 조회</li>
                            <li class="topmenu6">게시판</li>
                        </ul>
                        <div class="login-icon-wrapper">
                            <a href="/login.do">로그인</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="login-area">
                <div class="login-title-area">
                    <img width="90px" height="90px" src="https://www.kumoh.ac.kr/_common/img/icon/icon_symbol01.png">
                    <div class="login-text-area">
                        <h2>LOGIN</h2>
                        <h4>아이디와 비밀번호를 입력해 주세요.</h4>
                    </div>
                </div>
                <form id="loginForm" method="post">
                    <div class="form-login-wrapper">
                        <div class ="form-login-area-id-pwd">
                            <div class="form-login-area">
                                <input type="text" id="member_id" name="member_id"
                                placeholder="아이디" title="로그인 할 아이디를 입력하세요."
                                style="text-transform: uppercase;">
                            </div>
                            <div class="form-login-area">
                                <input type="password" id="member_pw" name="member_pw" 
                                placeholder="비밀번호" title="로그인 할 비밀번호를 입력하세요.">
                            </div>
                        </div>
                        <input class="login-btn" type="submit" name value="로그인" title="로그인">
                    </div>
                </form>
                <ul class="login-submenu">
                    <li><a href="#">id/pw찾기</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                <p></p>
                <address>
                    (39177) 경북 구미시 대학로61 산학협력관 
                </address>
                <a herf="https://www.kumoh.ac.kr/ko/sub07_04_01.do" class="word-privacy" target="_blank">
                    개인정보 처리방침
                </a>
                <p></p>
                <p>
                    전화 : 054-478-6710 / 팩스 : 054-478-6719 / 사업자등록번호 : 513-82-07067
                </p>
                <p class="copyright">
                    Copyright (C) Kumoh National Institute of Technology Industry-academic Cooperation Foundation. All Rights Reserved.
                </p>
            </div>
        </footer>
    </body>
</html>
