<!DOCTYPE html>
<html lang="ko">
    <head>
        <th:block th:replace="common/head :: headFragment"></th:block>
        <link href="/css/login.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <th:block th:replace="common/header :: headerFragment"></th:block>
        <section>
            <div class="login-area">
                <div class="login-title-area">
                    <img width="90px" height="90px" src="https://www.kumoh.ac.kr/_common/img/icon/icon_symbol01.png">
                    <div class="login-text-area">
                        <h2>LOGIN</h2>
                        <h4>아이디와 비밀번호를 입력해 주세요.</h4>
                    </div>
                </div>
                <form id="loginForm" th:action="@{/login.do}" th:object="${loginVO}" method="post">
                    <div class="form-login-wrapper">
                        <div class ="form-login-area-id-pwd">
                            <div class="form-login-area">
                                <input type="text" id="member_id" name="loginId" th:field="*{loginId}"
                                placeholder="아이디" title="로그인 할 아이디를 입력하세요."
                                style="text-transform: uppercase;">
                            </div>
                            <div class="form-login-area">
                                <input type="password" id="member_pw" name="password" th:field="*{password}"
                                placeholder="비밀번호" title="로그인 할 비밀번호를 입력하세요.">
                            </div>
                        </div>
                        <input class="login-btn" type="submit" name value="로그인" title="로그인">
                    </div>
                </form>
                <ul class="login-submenu">
                    <li><a href="#">id/pw찾기</a></li>
                    <li><a href="/register">회원가입</a></li>
                </div>
            </div>
        </section>
        <th:block th:replace="common/footer :: footerFragment"></th:block>
    </body>
</html>
