<div class="search">
    <div class="company-name-search">
        <input type="text" id="company-name" placeholder="회사명">
    </div>
    <div class="date-search">
        <input id="start-day" type="date"> ~ <input id="end-day" type="date">
        <button onclick="getRequest()">검색</button>
    </div>
    <div class="state-search">
        <select id="state" onchange="selectGetRequest(this.value);">
            <option value="ALL">전체</option>
            <option value="APPROVED">승인</option>
            <option value="REJECTED">거절</option>
            <option value="PENDING">대기</option>
        </select>
    </div>
</div>

<table>
    <thaed>
        <tr>
            <th scope="col" class=""><span>선택</span></th>
            <th scope="col" class=""><span>회사</span></th>
            <th scope="col" class=""><span>활동구분</span></th>
            <th scope="col" class=""><span>활동</span></th>
            <th scope="col" class=""><span>회차</span></th>
            <th scope="col" class=""><span>상태</span></th>
            <th scope="col" class=""><span>시작일</span></th>
            <th scope="col" class=""><span>종료일</span></th>
        </tr>
    </thaed>
    <tbody>
        <form id="mileage" th:action="@{/company/industry-cooperation/project/activity-proof-register}" th:object="${mileageRequestDTO}" method="post">
        <tr th:each="dto : ${mileageRequestDTO}">
            <td><input type="checkbox" name="checkedValue" value="${dto.mileageRequestId}" th:field="*{mileageRequestId}"/></td>
            <td th:text="${dto.company.name}"></td>
            <td th:text="${dto.mileagePolicy.collaborationCategory.parentCategory.collaborationName}"></td>
            <td th:text="${dto.mileagePolicy.collaborationCategory.collaborationName}"></td>
            <td th:text="${dto.achievementCnt}"></td>
            <td th:text="${dto.status}"></td>
            <td th:text="${dto.startDate}"></td>
            <td th:text="${dto.endDate}"></td>
        </tr>
        </tbody>
</table>

<button onclick="postRequest('/accept')">승인</button>
<button onclick="postRequest('/reject')">거절</button>

<script th:inline="javascript">
    function selectGetRequest(param) {
        var companyName = document.getElementById("company-name").value;
        var startDay = document.getElementById("start-day").value;
        var endDay = document.getElementById("end-day").value;
        $.ajax({
            method: "GET",
            url: "/officer/mileage/screening",
            contentType: 'application/json',
            data: {
                "companyName": companyName,
                "startDay": startDay,
                "endDay": endDay,
                "state": param
            },
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			},
            success: function() {
                console.log(companyName);
                console.log(startDay);
                console.log(endDay);
                console.log(param);
            }
        });
    }
    
    function getRequest() {
        var companyName = document.getElementById("company-name").value;
        var startDay = document.getElementById("start-day").value;
        var endDay = document.getElementById("end-day").value;
        var stateElement = document.getElementById("state");
        var state = stateElement.options[stateElement.selectedIndex].value;

        $.ajax({
            method: "GET",
            url: "/officer/mileage/screening",
            contentType: 'application/json',
            data: {
                "companyName": companyName,
                "startDay": startDay,
                "endDay": endDay,
                "state": state
            },
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			},
            success: function() {
                console.log(companyName);
                console.log(startDay);
                console.log(endDay);
                console.log(state);
            }
        });
    }

    function postRequest(path) {
        let sendData = [];
        var checkedIdLen = document.getElementsByName("checkedValue").length;
        for (var i=0; i<checkedIdLen; i++) {
            if (document.getElementsByName("checkedValue")[i].checked == true) {
                sendData.push(document.getElementsByName("checkedValue")[i].value);
            }
        }

        console.log(sendData);
        $.ajax({
            method: "POST",
            url: "/officer/mileage/screening" + path,
            traditional: true,
            contentType: 'application/json',
            data: JSON.stringify({
                "checkList": sendData
            }),
            beforeSend: function (xhr) {
				xhr.setRequestHeader([[${_csrf.headerName}]],[[${_csrf.token}]]);
			}
        })
        .done(function() {
            alert("성공적으로 처리되었습니다.");
            window.close();
        });
    }
</script>